<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.zxsd.sys.mapper.HotMapper">
    <insert id="insertHot" parameterType="com.ruoyi.project.zxsd.sys.domain.HotEntity">
      INSERT INTO t_home_hot_goods (
      sku_no,
      sku_name,
      is_deleted,
      id,
      sort_no,
      gmt_create,
      create_by,
      gmt_modified,
      last_modified_by,
      version,
      selling_price,
      detail,
      fix_price,
      image_url
      )VALUE
      (#{skuNo},#{skuName},0,#{id},#{sortNo},now(),#{createBy},now(),
      #{updateBy},0,#{sellingPrice},#{detail},#{fixPrice},#{imageUrl})
    </insert>
    <select id="selectHot" parameterType="com.ruoyi.project.zxsd.sys.domain.HotEntity" resultType="com.ruoyi.project.zxsd.sys.domain.HotEntity">
        select
          sku_no as skuNo,
          sku_name as skuName,
          id as id,
          sort_no as sortNo,
          selling_price as sellingPrice,
          detail as detail,
          fix_price as fixPrice,
          image_url as imageUrl
        FROM t_home_hot_goods
        WHERE  is_deleted=0
        <if test="skuNo != null and skuNo != ''">
            and sku_no =#{skuNo}
        </if>
        <if test="skuName != null and skuName != ''">
            and sku_name like concat('%',#{skuName},'%')
        </if>
        order by sort_no
    </select>
    <update id="delHot" parameterType="String">
        UPDATE t_home_hot_goods set is_deleted = 1 WHERE id=#{id}
    </update>
    <update id="editHot" parameterType="com.ruoyi.project.zxsd.sys.domain.HotEntity">
        UPDATE t_home_hot_goods
          set sort_no = #{sortNo},
               gmt_modified=now(),
              last_modified_by=#{updateBy}
        WHERE id=#{id}
    </update>
</mapper>