<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.zxsd.sys.mapper.StoreInfoMapper">
    <select id="selectProvince" resultType="com.ruoyi.project.zxsd.sys.domain.ProvinceEntity">
        select province_code as provinceCode,province_name as provinceName from t_code_province
    </select>
    <select id="selectCounty" parameterType="String" resultType="com.ruoyi.project.zxsd.sys.domain.CountryEntity">
        select county_code as countyCode,county_name as countyName from t_code_county where province_code=#{provinceCode}
    </select>
    <select id="getListStoreInfo" parameterType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity" resultType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity">
        select
        s.store_no as storeNo,
        s.store_name as storeName,
        s.store_address as storeAddress,
        s.store_phone as storePhone,
        u.user_realname as userRealName,
        u.user_code as userCode,
        s.id as id,
        s.sort_no as sortNo,
        p.province_name as province,
        s.province_no as provinceNo,
        c.county_name as county,
        s.county_no as countyNo,
        s.star_level as starLevel,
        s.business_license as businessLicense,
        s.identity_card as identityCard,
        s.invite_code as inviteCode
        from t_store_info s
        left join t_code_province p on s.province_no = p.province_code
        left join t_code_county c on s.county_no = c.county_code and s.province_no = c.province_code
        left join t_sys_user u on s.user_code = u.user_code
        where s.is_deleted =0
        <if test="storeName != null and storeName != ''">
            and s.store_name like concat('%',#{storeName},'%')
        </if>
        <if test="storeNo != null and storeNo != ''">
            and s.store_no like concat('%',#{storeNo},'%')
        </if>
        <if test="userRealName != null and userRealName != ''">
            and u.user_realname like concat('%',#{userRealName},'%')
        </if>
        <if test="provinceNo != null and provinceNo != ''">
        and s.province_no = #{provinceNo}
        </if>
        <if test="countyNo != null and countyNo != ''">
            and s.county_no = #{countyNo}
        </if>
        <if test="userCode != null and userCode != ''">
            and u.user_code = #{userCode}
        </if>
        <if test="id != null and id != ''">
            and s.id = #{id}
        </if>
    </select>
    <update id="delStoreInfo" parameterType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity">
        update t_store_info s SET s.is_deleted = 1 where s.id=#{id}
    </update>
    <insert id="insertStoreInfo" parameterType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity">
        insert into t_store_info
        (
        store_no,store_name,user_code,is_deleted,id,sort_no,gmt_create,create_by,gmt_modified,last_modified_by,version,
        province,province_no,county,county_no,business_license,identity_card,store_address,store_phone,invite_code
        )
        VALUES (
          #{storeNo},#{storeName},#{userCode},0,#{id},#{sortNo},now(), #{createBy},now(),#{updateBy},0,
          #{province},#{provinceNo},#{county},#{countyNo},#{businessLicense},#{identityCard},#{storeAddress},#{storePhone},#{inviteCode}
        )
    </insert>
    <update id="editStoreInfo" parameterType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity">
        update t_store_info s SET s.store_name=#{storeName},s.user_code=#{userCode},s.province_no=#{provinceNo},
        s.province=#{province},s.county_no=#{countyNo},s.county=#{county},s.store_phone=#{storePhone},
        s.store_address=#{storeAddress},s.business_license=#{businessLicense},s.gmt_modified=now(),s.last_modified_by=#{updateBy}
        where s.id=#{id}
    </update>
    <select id="getStoreInfoByUserCode" parameterType="map" resultType="com.ruoyi.project.zxsd.sys.domain.StoreInfoEntity">
        SELECT  s.store_no as storeNo,
                s.province_no as provinceNo,
                s.county_no as countyNo,
                s.invite_code as inviteCode
         from t_store_info s where s.user_code=#{userId}
    </select>
</mapper>