<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.AdviceMapper">

    <resultMap type="com.ruoyi.project.storage.domain.vo.AdviceVO" id="AdviceVOResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="sortNo"    column="sort_no"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectAdviceVo">
        SELECT
            t1.id,
            t1.user_id,
            t2.nick_name,
            t1.title,
            t1.content,
            t1.sort_no,
            t1.create_time,
            t1.create_by,
            t1.update_time,
            t1.update_by,
            t1.version,
            t1.del_flag
        FROM
            t_advice t1
        LEFT JOIN sys_user t2 ON t1.user_id = t2.user_id
    </sql>

    <select id="selectAdviceList" parameterType="com.ruoyi.project.storage.domain.vo.AdviceVO" resultMap="AdviceVOResult">
        <include refid="selectAdviceVo"/>
        <where>
            and t1.del_flag = '0'
            <if test="searchValue !=null and searchValue != ''">
                and (
                    t2.nick_name like concat(#{searchValue}, '%')
                    or t1.title like concat(#{searchValue}, '%')
                )
            </if>
        </where>
        order by t1.update_time desc
    </select>

    <insert id="insertAdvice" parameterType="com.ruoyi.project.storage.domain.Advice" useGeneratedKeys="true" keyProperty="id">
        insert into t_advice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="sortNo != null ">sort_no,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="version != null ">version,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="sortNo != null ">#{sortNo},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="version != null ">#{version},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

</mapper>
