<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.PointRecordMapper">

    <resultMap type="com.ruoyi.project.storage.domain.PointRecord" id="PointRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="way"    column="way"    />
        <result property="points"    column="points"    />
        <result property="advertisementId"    column="advertisement_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="sortNo"    column="sort_no"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectPointRecordVo">
        select id, user_id, way, points, advertisement_id, order_id, sort_no, create_time, create_by, update_time, update_by, version, del_flag from t_point_record
    </sql>

    <select id="selectPointRecordList" parameterType="com.ruoyi.project.storage.domain.PointRecord" resultMap="PointRecordResult">
        <include refid="selectPointRecordVo"/>
        <where>
            and del_flag = '0'
            and user_id = #{userId}
        </where>
        order by update_time desc
    </select>

    <insert id="insertPointRecord" parameterType="com.ruoyi.project.storage.domain.PointRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_point_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="way != null ">way,</if>
            <if test="points != null ">points,</if>
            <if test="advertisementId != null ">advertisement_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="sortNo != null ">sort_no,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="version != null ">version,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="way != null ">#{way},</if>
            <if test="points != null ">#{points},</if>
            <if test="advertisementId != null ">#{advertisementId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="sortNo != null ">#{sortNo},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="version != null ">#{version},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

</mapper>
